{% macro form_field(form, field, width=6, hidden=False) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class="form-control", **kwargs) }}
        {% if field.name in form.errors %}
            {% for error in form.errors[field.name] %}
                <div style="color: red;">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}


{% macro include_css(page) -%}

    {% if config.MODE == 'production' %}
        <link rel="stylesheet" href="{{ url_for('static', filename=config["css_" + page + "_gen"]) }}">
    {% elif not config.DEBUG_FE %}
        {% assets "css_" + page %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    {% else %}
        {% for css_element in config["css_" + page + "_elements"] %}
            <link rel="stylesheet" href="{{ url_for('static', filename=css_element) }}">
        {% endfor %}
    {% endif %}

{%- endmacro %}

{% macro include_js(page) -%}

    {% if config.MODE == 'production' %}
        <script src="{{ url_for('static', filename=config["js_" + page + "_gen"]) }}"></script>
    {% elif not config.DEBUG_FE %}
        {% assets "js_" + page %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% else %}
        {% for js_element in config["js_" + page + "_elements"] %}
            <script src="{{ url_for('static', filename=js_element) }}"></script>
        {% endfor %}
    {% endif %}

{%- endmacro %}