{% if current_user.has_role('admin') %}
    <div class="pull-right">
        <a href="{{ url_for('client_bp.get_blog_post_edit', instance_id=bp.id) }}">edit</a> |
        {% if bp.archived %}
            <a href="{{ url_for('client_bp.blog_post_unarchive', instance_id=bp.id) }}" class="danger">unarchive</a> |
            <a href="{{ url_for('client_bp.blog_post_delete', instance_id=bp.id) }}" class="danger">delete</a>
        {% else %}
            <a href="{{ url_for('client_bp.blog_post_archive', instance_id=bp.id) }}" class="danger">archive</a>
        {% endif %}
    </div>
{% endif %}
<blockquote class="blogpost">
    <cite>{{ bp.created_ts|format_dt("%A, %d %B") }}</cite>
    <a href="/{{ bp.filename }}"><h1>{{ bp.title }}</h1></a>
    <p>{{ bp.contents|markdown|rawhtmlparse|safe }}</p>
    <hr>
</blockquote>