{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
    <form action="{{ url_for('client_bp.blog_post_create') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="next" value="/"/>
        <textarea id="journal-entry" name="body" rows="12" class="main-input" autofocus></textarea>
        <button class="btn btn-primary">Create</button>
    </form>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}