{% extends "layout.html" %}

{% block content %}
    <h1 class="danger">This will delete blog post {{ bp.id }}!</h1>
    <p>This action is final and cannot be undone. Are you sure?</p>
    <form action="{{ url_for('client_bp.blog_post_destroy', instance_id=bp.id) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <a href="/">Go back</a>
        <button type="submit" class="pull-right">Delete</button>
    </form>
{% endblock %}