<a href="javascript:toggleArchiveEntry('archive-container');"><h3>Archive ></h3></a>
<div id='archive-container' style="display: none;">
  <ul>
    {% for year, months in dated_bp.items() %}
      <a href="javascript:toggleArchiveEntry('ul-{{ year }}')"><li>{{ year }}</li></a>
      <ul id="ul-{{ year }}" {% if not loop.first %}style="display: none;"{% endif %}>
        {% for month, bps in months.items() %}
          <a href="javascript:toggleArchiveEntry('ul-{{ year }}-{{ month }}')"><li>{{ month }}</li>
          <ul id="ul-{{ year }}-{{ month }}" {% if not loop.first %}style="display: none;"{% endif %}>
            {% for bp in bps %}
              <li><a href="/{{ bp.filename }}">{{ bp.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
</div>