<a href="{{ url_for('client_bp.get_blog') }}"><img src="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" alt="pisquared logo" class="logo" />PiSquared Blog</a> |
{#<a href="{{ url_for('client_bp.get_projects') }}">Projects</a> |#}
{#<a href="{{ url_for('client_bp.get_aboutme') }}">About Me</a>#}
Theories and views about the world. Mainly Randomisms. |
<img src="{{ url_for('static', filename='img/twitter.png') }}" class="social-icon" /><a target="_blank" href="https://twitter.com/pisquared_xyz">@pisquared_xyz</a> |
<img src="{{ url_for('static', filename='img/instagram.png') }}" class="social-icon" /> <a target="_blank" href="https://www.instagram.com/pisquared_xyz/">@pisquared_xyz</a>
{#<div class="pull-right">#}
{#    <form action="/search" class="search-form">#}
{#        <input type=text name="q" value="{{ q }}"/>#}
{#        <button>search</button>#}
{#    </form>#}
{#</div>#}
{% if current_user.is_authenticated and current_user.has_role('admin') %}
    <div class="pull-right">
    <span class="danger">Admin:</span>
        <a href="{{ url_for('client_bp.get_blog_posts_new') }}">Write</a> |
        <a href="{{ url_for('client_bp.get_archive') }}">Archive</a> |
        <a href="{{ url_for('security.logout') }}">Log Out</a> |
    </div>
{% endif %}
<p><small>Currently working at Google, but the opinions here are mine. {{ random_quote }}</small></p>
