{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prodday</h5>
                    <p class="card-text">All your productivity needs in one place.</p>
                    <a href="https://gitlab.com/pisquared/prodday" target="_blank" class="btn btn-default"><i class="fa fa-gitlab"></i> Code</a>
                    <a href="https://prodday.com/" target="_blank" class="btn btn-primary"><i class="fa fa-calendar"></i> WebApp</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

