{% extends "layout.html" %}
{% block content %}
    {% if not blog_posts %}
        <p>No blog posts for <strong>{{ q }}</strong></p>
    {% else %}
        {% for bp in blog_posts %}
            {% include "blog_post_search_result.html" %}
        {% endfor %}
    {% endif %}
{% endblock %}
